/* public/styles.css */

body {
    background: hsl(197, 71%, 73%);
}

.word-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#scoreBoard {
    margin-left: auto;
    text-align: left;
    font-weight: bold
}

#scoreHistoryList {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
